<div class="container">
  <div class="row">
    <h3>Judges</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
          <% if !user.admin? %>
              <tr>
                <%= render user %>
              </tr>
          <% end %>    
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
