<h1>Upload file </h1>
<div>
<%= form_for @attachment, url: {action: "create"}, html: {class: "form-horizontal", role: "form"} do |f| %>
    <div class="form-group"> 
      <%= f.file_field :attachment %>
    </div>
    <div class="form-group"> 
       <%= submit_tag "Send Attachment" %>
   </div>
<% end %>
</div>