<h1>
    <%= @category.name %>
</h1>

<div>
    <% @projects.each do |project| %>
        <br/>
        <%= project.name %><br/>
        <%= link_to 'Edit', edit_contest_project_path(@contest, project)%><br/>
        <%= link_to 'Destroy', [@contest, project], :confirm => 'Are you sure?', :method => :delete %></td>
        <br/>
    <% end %>   
</div>
