<h1>
    Listing Contests
</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
    </tr>
    <tr>

        <td> <%= link_to 'Projects',contest %></td>
    </tr>     
